---
layout: default
---

<div class="homepage">
  <section>
    <div class="banner-wrapper">
      {% include banner.html %}
    </div>
  </section>



  <section>
      <section class="frontmatter">
        <div class="container">
            <div class="intro">
              {% capture xs %}{% include story-intro.md %}{% endcapture %}
               {{ xs | markdownify }}
            </div>

            <div class="toc">
              {% include story-toc.html %}
            </div>
        </div>
      </section>


      <section class="story-smush">
        {% include story-smush.html  %}
      </section>


  </section>
</div>


