
<!-- footer -->





<footer class="site-footer">
  <div class="container">

<div class="about-story">
    <h2>About this Story</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit odio laudantium dolor laboriosam voluptates nihil possimus nisi. Veritatis, soluta, perspiciatis nisi ullam impedit vel minus dolorum ex, sint velit!
</p>
</div>


    <h3>Contact</h3>


      <ul class="list-inline">
        <li>
            <a href="mailto:@stanford.edu" class="btn-social btn-outline"><i class="fa fa-envelope"></i></a>
        </li>

        <li>
            <a href="https://twitter.com/" class="btn-social btn-outline"><i class="fa fa-twitter"></i></a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/" class="btn-social btn-outline"><i class="fa fa-linkedin"></i></a>
        </li>
        <li>
            <a href="https://github.com/carolinawilson" class="btn-social btn-outline"><i class="fa fa-github"></i></a>
        </li>

    </ul>

  </div>
</footer>

